<!-- Head -->
<head>
	<!-- Meta data -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link href="img/favicon.ico" rel="icon" />

	<meta name="description"				content="Affordable custom-built websites for individuals and small businesses" />
	<meta property="og:title"				content="Brandon Smith - Custom Websites" />
	<meta property="og:url"					content="http://www.brandonsmith.ninja" />
	<meta property="og:description"			content="Affordable custom-built websites for individuals and small businesses" />
	<meta property="og:image"				content="http://www.brandonsmith.ninja/img/triangles.png" />

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Poppins:400,300' rel='stylesheet' type='text/css'>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/src/default-styles.css">
	<link rel="stylesheet" type="text/css" href="css/src/styles.css">
</head>
