<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	{% include "head.html" %}
  
	<head>
		<title>Brandon Smith - Contact</title>
	</head>

	<!-- Body -->
	<body id="contact">

		<!-- Navigation -->
  	{% include "nav.html" %}

		<!-- Main content -->
		<div class="section" style="padding: 90px 0px; min-height:calc(100vh - 70px - 66px);">

			<!-- Local -->
			<div class="container">
				<div class="triangles-container"></div>

				<h2>
					say hi :)
				</h2>

				<form class="contact-form" action="/contact" method="post">
					<input name="name" type="text" placeholder="name" required="required">
					<input name="email" type="email" placeholder="email address" required="required">
					<textarea name="message" placeholder="what would you like to discuss?" rows="8" required="required"></textarea>
					<input type="submit" value="off we go">
				</form>
			</div>
		</div>

		<!-- Footer -->
  	{% include "footer.html" %}
	</body>
</html>
