<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	{% include "./partials/head.html" %}
	<head>
		<title>Brandon Smith - Contact</title>
	</head>

	<!-- Body -->
	<body id="contact">

		<!-- Navigation -->
		{% include "./partials/nav.html" %}

		<!-- Main content -->
		<div class="section" style="padding: 90px 0px;">

			<!-- Local -->
			<div class="container">
				<div class="triangles-container"></div>

				<h2>
					say hi :)
				</h2>

				<form class="contact-form">
					<input type="text" placeholder="name">
					<input type="text" placeholder="email address">
					<textarea placeholder="what would you like to discuss?" rows="8"></textarea>
					<input type="submit" value="off we go">
				</form>
			</div>
		</div>

		<!-- Footer -->
		{% include "./partials/footer.html" %}
	</body>
</html>
