<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	{% include "./partials/head.html" %}
	<head>
		<title>Brandon Smith - Custom Websites</title>
	</head>

	<!-- Body -->
	<body id="index">

		<!-- Navigation -->
		{% include "./partials/nav.html" %}

		<!-- Hero -->
		<div class="section hero" style="min-height:70vh;">
			<div class="container">
				<div class="triangles-container"></div>
				<h1 class="fadein slidein-left staggered">
					brandon smith
				</h1>
				<h2 class="fadein slidein-left staggered">
					custom websites
				</h2>
				<h4 class="fadein delay-1s">
					because your business isn't a template.
				</h4>
			</div>
		</div>


		<!-- Main content -->
		<div class="section" style="background-color:#fafafa;">

			<!-- Local -->
			<div class="container">
				<h2>
					examples of my work
				</h2>

				<div class="projects-container">

          {% for project in projects %}
          <a class="project-link fadein staggered {% if project.inProgress %} in-progress {% endif %}" href="{{ project.projectUrl }}" target="_blank" style="
                              background-image:url('{{ project.imageUrl }}')">
            <div class="overlay">
              <span class="title">{{ project.name }}</span><br>
              <span class="description">{{ project.description }}</span>
            </div>
          </a>
          {% endfor %}

			   </div>

			   <h3>
				   <a class="more-projects" href="/projects">
					   more projects <i class="fa fa-arrow-right"></i>
				   </a>
			   </h3>
			</div>
		</div>

		<!-- Footer -->
		{% include "./partials/footer.html" %}
	</body>
</html>
