<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	{% include "head.html" %}
	<head>
		<title>Brandon Smith - Web Developer</title>
	</head>

	<!-- Body -->
	<body id="index">

		<!-- Navigation -->
  	{% include "nav.html" %}

		<!-- Hero -->
		<div class="section hero" style="min-height:70vh;">
			<div class="container">
				<div class="triangles-container"></div>
				<h1 class="fadein slidein-left staggered">
					brandon smith
				</h1>
				<h2 class="fadein slidein-left staggered">
					web developer and css ninja
				</h2>
				<div class="profiles">
					<a class="profile-link fadein staggered" href="http://codepen.io/brundolf/" target="_blank">
					  <i class="fa fa-codepen"></i>
            <div>Codepen</div>
					</a>
					<a class="profile-link fadein staggered" href="https://github.com/brundonsmith" target="_blank">
					  <i class="fa fa-github"></i>
            <div>Github</div>
					</a>
				</div>
			</div>
		</div>


		<!-- Main content -->
		<div class="section" style="background-color:#fafafa;">

			<!-- Local -->
			<div class="container">
				<h2>
					what i've been up to
				</h2>

				<div class="projects-container">
          {% for post in recentPosts %}
            {% include "post-small.html" %}
          {% endfor %}
			  </div>

			  <h3>
				  <a class="more-projects" href="/posts-and-projects">
					  more posts <i class="fa fa-arrow-right"></i>
				  </a>
			  </h3>
			</div>
		</div>

		<!-- Footer -->
  	{% include "footer.html" %}
	</body>
</html>
