* {
	font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4 {
	position:relative;
	z-index:10;
}
.section {
}
.section.hero {
}
.section.hero h1 {
	display:block;
	text-align:left;
	font-size:90px;
	font-weight:normal;
	margin-top:180px;
	color: #555;
}
.section.hero h2 {
	display:block;
	text-align:left;
	font-size:48px;
	font-weight:lighter;
	color: #555;

}

.section.nav-section {
	min-height:inherit;
	height:50px;
	box-shadow: 0px 5px 15px lightgray;
}
.section.nav-section .nav-link {
	font-family: 'Poppins', sans-serif;
	font-weight:lighter;
	font-size:26px;
	padding:0 15px;
}



/* triangles */
.triangles-container {
	position:absolute;
	top:65vh;
	left:85vw;
}
.triangle {
	display:inline-block;
	width:0px;
	height:0px;
	transition:0.3s ease-in-out transform;
	backface-visibility: hidden;
	transform-origin: 0% 0%;
	position:absolute;
}

.triangle.top-left {
	transform:rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, 180deg);
}
.triangle.top-left.rotated {
	transform:rotate3d(0, 0, 1, 180deg);
}

.triangle.top-right {
	transform:rotate3d(0, 2, 0, 90deg) rotate3d(0, 0, -1, 90deg);
}
.triangle.top-right.rotated {
	transform:rotate3d(0, 0, -1, 90deg);
}

.triangle.bottom-left {
	transform:rotate3d(0, 2, 0, 90deg) rotate3d(0, 0, 1, 90deg);
}
.triangle.bottom-left.rotated {
	transform:rotate3d(0, 0, 1, 90deg);
}

.triangle.bottom-right {
	transform:rotate3d(0, 1, 0, 180deg);
}
.triangle.bottom-right.rotated {
	transform:rotate3d(0, 0, 0, 180deg);
}
