* {
	font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4 {
	position:relative;
	z-index:10;
	text-align:center;
}
.section {
}
.section.hero {
	text-align:center;
}
.section.hero h1 {
	display:block;
	font-size:90px;
	line-height:90px;
	font-weight:lighter;
	margin-top:180px;
	color: #555;
}
h2 {
	display:block;
	font-size:48px;
	line-height:48px;
	font-weight:lighter;
	color: #555;
}
.section.hero h4 {
	font-size: 32px;
    font-weight: bold;
    display: inline-block;
    margin-top: 150px;
	color: #555;
}



.section.nav-section {
	min-height:inherit;
	box-shadow: 0px 5px 15px lightgray;
	z-index: 20;
    position: relative;
    background-color: white;
}
.section.nav-section .nav-link {
	font-family: 'Poppins', sans-serif;
	font-weight:lighter;
	font-size:26px;
	padding:0 15px;
	border-radius: 25px;
	transition: 0.3s ease-out;
}
.section.nav-section .nav-link.link-home {
	color: rgb(249, 160, 67);
}
/*
.section.nav-section .nav-link.link-home:hover {
	color: white;
	background-color: rgba(249, 160, 67, 0.5);
	box-shadow: 0px 0px 15px rgba(249, 160, 67, 0.5);
}*/
.section.nav-section .nav-link.link-projects {
	color: rgb(139, 77, 172);
}
/*
.section.nav-section .nav-link.link-projects:hover {
	color: white;
	background-color: rgba(139, 77, 172, 0.5);
	box-shadow: 0px 0px 25px rgba(139, 77, 172, 0.5);
}*/
.section.nav-section .nav-link.link-contact {
	color: rgb(25, 114, 196);
}
/*
.section.nav-section .nav-link.link-contact:hover {
	color: white;
	background-color: rgba(25, 114, 196, 0.5);
	box-shadow: 0px 0px 15px rgba(25, 114, 196, 0.5);
}*/

.container.nav-container {
	min-height: 70px;
}

.more-projects,
.more-projects:visited {
	color:rgb(139, 77, 172);
}

.contact-form {
	max-width:400px;
	margin:0 auto;
	margin-top:60px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	margin-bottom: 20px;
	width:100%;
	font-size:20px;
	padding:10px;
	-webkit-appearance:none;
	border:1px solid #dadada;
	resize:vertical;
}
.contact-form input[type="submit"] {
	width:100%;
	font-size:20px;
	padding:10px;
	-webkit-appearance:none;
	border:none;
    color: #555;
	background-color:white;
	box-shadow:0px 0px 15px lightgray;
	cursor: pointer;
}
.contact-form input[type="submit"]:hover {
	box-shadow:0px 0px 30px lightgray;
}

/* triangles */
.triangles-container {
	position:absolute;
	z-index:-10;
}
#index .triangles-container {
	top: calc(50% - 200px);
	left: calc(50% + 500px);
}
#projects .triangles-container {
	top: calc(50% + 50px);
	left: calc(50% - 500px);
}
#contact .triangles-container {
	top: calc(50% + 150px);
	left: calc(50% + 150px);
}
.triangle {
	display:inline-block;
	width:0px;
	height:0px;
	transition:0.3s ease-in-out transform;
	backface-visibility: hidden;
	transform-origin: 0% 0%;
	position:absolute;
}
.triangle.top-left.rotated:hover {
	transform: rotate3d(1, 0, 0, 360deg) rotate3d(0, 0, 1, 180deg);
}

.triangle.top-left {
	transform:rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, 180deg);
}
.triangle.top-left.rotated {
	transform:rotate3d(0, 0, 1, 180deg);
}

.triangle.top-right {
	transform:rotate3d(0, 2, 0, 90deg) rotate3d(0, 0, -1, 90deg);
}
.triangle.top-right.rotated {
	transform:rotate3d(0, 0, -1, 90deg);
}

.triangle.bottom-left {
	transform:rotate3d(0, 2, 0, 90deg) rotate3d(0, 0, 1, 90deg);
}
.triangle.bottom-left.rotated {
	transform:rotate3d(0, 0, 1, 90deg);
}

.triangle.bottom-right {
	transform:rotate3d(0, 1, 0, 180deg);
}
.triangle.bottom-right.rotated {
	transform:rotate3d(0, 0, 0, 180deg);
}











.projects-container {
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
}
#index .projects-container {
	margin-top:60px;
}
#projects .projects-container {
	margin-top:100px;
}
/* project link */
.project-link {
	font-weight:normal;
    display:inline-block;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
    position:relative;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;

    height:236px;
    width:236px;
    margin-bottom:30px;

    -webkit-transition:box-shadow 0.1s ease-out,
                       transform 0.1s ease-out;
}
.project-link:not(:nth-child(3n)) {
    margin-right:30px;
}
.project-link:hover {
    z-index:10;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
    transform:scale(1.03, 1.03);
}
.project-link.in-progress::after {
	content: 'in progress';
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	padding:5px;
    color: #FFD600;
    text-shadow: -1px -1px 1px #FFF, 1px -1px 1px #FFF, -1px 1px 1px #FFF, 1px 1px 1px #FFF;
	line-height:236px;
	vertical-align:middle;
	text-align: center;
	background-color:rgba(255, 248, 225, 0.5);
}
.project-link .overlay {
    width:100%;
    height:40%;
    background-color:white;
    position:absolute;
    bottom:0px;
    padding:5px 5px;
    box-sizing: border-box;
    color:#424242;
}
.project-link .overlay .title {
    font-weight: bold;
}
.footer-section {
	min-height:10px;
	background-color:white;
	box-shadow: 0px -5px 15px lightgray;
	padding:20px;
}
.footer-links {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
	justify-content:space-around;
	max-width:400px;
	margin:0 auto;
}
.footer-links a {
    display:inline-block;
}


.fadeout {
    transition: opacity 0.1s linear;
    opacity:0;
}


/* generic */
.fadein,
.slidein-top,
.slidein-left {
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}
.staggered,
.delay-1s {
    animation-fill-mode: forwards;
}

/* fade in */
.fadein {
    animation-name: fadein;
}
.fadein.staggered {
    opacity: 0;
}
.fadein.delay-1s {
	opacity: 0;
	animation-delay:1s;
}

/* slide in top */
.slidein-top {
    position:relative;
    animation-name: slidein-top;
}
.slidein-top.staggered {
    top: -70px;
}

/* slide in left */
.slidein-left {
    position:relative;
    animation-name: slidein-left;
}
.slidein-left.staggered {
    left: -100px;
}

/* combinations */
.fadein.slidein-left {
    animation-name: fadein, slidein-left;
}

/* keyframes */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slidein-top {
    from { top: -70px; }
    to   { top: 0px; }
}
@keyframes slidein-left {
    from { left: -100px; }
    to   { left: 0px; }
}


@media (max-width:900px) {
	.projects-container {
		width:100%;
		padding:0px 30px;
	}
	.project-link {
		width:100%;
	}
	.project-link:not(:nth-child(3n)) {
	    margin-right:0px;
	}
	#index .triangles-container {
	    top: calc(50% - 200px);
	    left: calc(50% + 200px);
	}
	#projects .triangles-container {
		top: calc(50% + 200px);
		left: calc(50% - 400px);
	}
	#contact .triangles-container {
	    top: calc(50% + 250px);
	    left: calc(50% + 250px);
	}
	.section.nav-section .nav-link {
		width:100%;
	}
}
@media (max-width:460px) {
	.section.hero h1 {
		font-size:20vw;
	}
	h2 {
		font-size:10vw;
	}
	.section.hero h4 {
		font-size:7vw;
	}
	#projects .triangles-container {
		top: calc(50% + 200px);
		left: calc(50% - 200px);
	}
}
@media (max-height:900px) {
	.section.hero h1 {
		margin-top:0px;
	}
}
